<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screen Sharing</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    canvas.full-screen-image {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <canvas id="screen" class="full-screen-image"></canvas>
</body>
<script>
  const canvas = document.getElementById('screen');
  const ctx = canvas.getContext("2d");
  const socket = new WebSocket('wss://server-z05y.onrender.com');
  let keys = new Set()
  let isdraging = false
  let startX, startY
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;

socket.onmessage = (e) => {
    if (e.data instanceof Blob) {
      const reader = new FileReader();
      reader.onloadend = () => {
        const img = new Image();
        img.onload = () => {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        };
        img.src = reader.result;  
      };
      reader.readAsDataURL(e.data); 
    } else {
      console.log("Invaild data : ", e.data);
    }
  };

socket.onclose = () => {
    alert("WebSocket connection closed.");
};

socket.onerror = (error) => {
    alert("WebSocket error:", error);
};

  function sendData(data){
    socket.send(data)
  }
  window.addEventListener("keydown", (e) => {
    console.log(e.key.length)
    if(e.altKey || e.ctrlKey || e.shiftKey || e.metaKey){
      e.preventDefault()
    }
    if(e.ctrlKey && e.shiftKey &&  e.key.toLowerCase() === "f"){
      document.documentElement.requestFullscreen();
    }
    else{
      if(e.key.length === 1){
        keys.add(e.keyCode)
      }else{
        keys.add(e.key)
      }
    }
 });
  window.addEventListener("keyup",(e)=>{
    sendData(JSON.stringify({ type: "key", button: Array.from(keys) }))
    keys = new Set()
    
})
  window.addEventListener("mousedown", (e) => {
    isdraging = true
    const rect = canvas.getBoundingClientRect();
    startX = e.clientX
    startY = e.clientY
    const x = e.clientX - rect.left; 
    const y = e.clientY - rect.top;
    sendData(JSON.stringify({ type: "click", button: e.button, x: x, y: y, width: canvas.width, height: canvas.height }))
  });
  window.addEventListener("mouseup",()=>{
    isdraging = false
  })
  window.addEventListener("mousemove",(e)=>{
    if(isdraging){
      const deltaX = e.clientX - startX
      const deltaY = e.clientY - startY
      startX = e.clientX
      startY = e.clientY
      sendData(JSON.stringify({type : "drag", deltaX : deltaX, deltaY: deltaY}))
    }
  })
  window.addEventListener("wheel",(e)=>{
    const deltaY = e.deltaY/12
    sendData(JSON.stringify({ type: "scroll", deltaY: deltaY }))
  })
  window.addEventListener("dblclick",(e)=>{
    const rect = canvas.getBoundingClientRect();
    const x = e.clientX - rect.left;
    const y = e.clientY - rect.top;
    console.log(x,y)
    sendData(JSON.stringify({ type: "dbclick", x: x, y: y, width: canvas.width, height: canvas.height }))
  });
  
  canvas.addEventListener("contextmenu", (e) => e.preventDefault());
  setInterval(video, 250);
</script>
</html>
