<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screen Sharing</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    img.full-screen-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <img src="/static/screenshot.jpg" alt="screen" class="full-screen-image" id="screen">
</body>
<script>
  const img = document.getElementById('screen');

  function video() {
    // Create a new image to preload
    const newImg = new Image();
    newImg.src = "/static/screenshot.png?" + new Date().getTime();

    // Once the image is fully loaded, replace the current image
    newImg.onload = () => {
      img.src = newImg.src;
    };
  }

  // Set an interval to update the image
  setInterval(video, 70);
</script>
</html>
