<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screen Sharing</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    canvas.full-screen-image {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <canvas id="screen" class="full-screen-image"></canvas>
</body>
<script>
  const canvas = document.getElementById('screen');
  const ctx = canvas.getContext("2d");
  const socket = new WebSocket('wss://server-20zy.onrender.com');
  let keys = new Set();
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;

  let lastFrameTime = performance.now();
  let frameCount = 0;

  socket.onclose = () => {
    alert("WebSocket connection closed.");
  };

  socket.onerror = (error) => {
    alert("WebSocket error:", error);
  };

  async function video() {
    const response = await fetch("https://server-20zy.onrender.com/screenshot", { method: "GET" });

    if (response.ok) {
      const arrayBuffer = await response.arrayBuffer();
      const blob = new Blob([arrayBuffer], { type: 'image/webp' });
      const imgUrl = URL.createObjectURL(blob);
      const img = new Image();
      img.onload = () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

        // Calculate and log FPS
        frameCount++;
        const currentTime = performance.now();
        const elapsedTime = currentTime - lastFrameTime;

        // If 1 second has passed, log the FPS
        if (elapsedTime >= 1000) {
          const fps = frameCount / (elapsedTime / 1000);
          console.log(`FPS: ${fps.toFixed(2)}`);
          frameCount = 0;
          lastFrameTime = currentTime;
        }
      };
      img.src = imgUrl;
    } else {
      console.error('Failed to fetch screenshot:', response.statusText);
    }
  }

  window.addEventListener("keydown", (e) => {
    if (e.ctrlKey && e.shiftKey && e.key.toLowerCase() === "f") {
      document.documentElement.requestFullscreen();
    } else {
      if (e.key.length === 1) {
        keys.add(e.keyCode);
      } else {
        keys.add(e.key);
      }
    }
  });

  window.addEventListener("keyup", (e) => {
    fetch("/control", {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ type: "key", button: Array.from(keys) })
    });
    keys = new Set();
  });

  window.addEventListener("mousedown", (e) => {
    const rect = canvas.getBoundingClientRect();
    const x = e.clientX - rect.left;
    const y = e.clientY - rect.top;
    fetch("/control", {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ type: "click", button: e.button, x: x, y: y, width: canvas.width, height: canvas.height })
    });
  });

  window.addEventListener("wheel", (e) => {
    const deltaY = e.deltaY / 12;
    fetch("/control", {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ type: "scroll", deltaY: deltaY })
    });
  });

  window.addEventListener("dblclick", (e) => {
    const rect = canvas.getBoundingClientRect();
    const x = e.clientX - rect.left;
    const y = e.clientY - rect.top;
    fetch("/control", {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ type: "dbclick", x: x, y: y, width: canvas.width, height: canvas.height })
    });
  });

  canvas.addEventListener("contextmenu", (e) => e.preventDefault());

  setInterval(video, 150);
</script>
</html>
